---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		

<header id="top">

<div>Forococos</div>

<nav>
	<a href="not_found.html">Esto no es un link</a>
</nav>

</header>


<main>
<a href="/">Index</a>
<a href="/about/">About</a>
<a href="/blog/">Blog</a>

<h1>No más Ika 🗿</h1>

<div class="container">

<section> 

	<h2><i><strong>Segunda pagina de Lisboaaa</strong></i></h2>
	
	<p>Como se veia este parrafo</p>
	<hr>

	<p>
		<a href="https://forocoches.com/foro/">Link a forocoches tio</a>
		
	</p>

  

	



	<pre><code>Hay cambios ahora si</code></pre>

</section>




</div>


</main>

<div class="up"><a href="#top">to top</a></div>

<footer>


	Oh nigga gimme one more gram!
</footer> 

	</body>
</html>
