---
const pageTitle = "About Me";
const skillColor = "crimson";
const fontWeight = "bold";
const textCase = "uppercase";

import '../styles/global.css';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro'; 
import Menu from '../components/Menu.astro';

import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout pageTitle={pageTitle}>
 
<style is:global define:vars={{skillColor, fontWeight, textCase}}>
  h1 {
    color: rgb(27, 70, 73);
    font-size: 4rem;
  }
</style>

 <h1 style="margin-top: 50px">Sobre mí</h1>

 <div class="container">
<section>
  <h4>Hola, soy Pasados, por desgracia el creador de este sitio</h4>
  <p style="margin-top: 30px; font-size: 150%">Desde que escuché <b>"Roundabout"</b> de <b>Yes</b>, mi vida cambió.
    Con el tiempo sin darme cuenta me convertí en un esclavo del prog,
    (y un despreciable elitista del rock)
  </p>
  
</section> 
 </div>



 <script>
    import "../scripts/menu.js";
  </script>
</body>
<ul></ul>

</BaseLayout>
