---
const pageTitle = "Blog Page";
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		

<header id="top">

<div>Forococos</div>

<nav>
	<a href="not_found.html">Esto no es un link</a>
</nav>

</header>


<main>

<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/blog/">Blog</a>

<div class="container">

<section>

<h1>CONTENIDO</h1>

<ul>
      <li><a href="/posts/post-1/">Post 1</a></li>
       <li><a href="/posts/post-2/">Post 2</a></li>
      <li><a href="/posts/post-3/">Post 3</a></li>
</ul>

</section>

</div>

</main>

<div class="up"><a href="#top">to top</a></div>

<footer>
	<strong>
	Oh nigga gimme one more gram!
	</strong>
</footer> 

	</body>
</html>
