---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		

<header id="top">

<div>Forococos</div>

<nav>
	<a href="not_found.html">Esto no es un link</a>
</nav>

</header>


<main>
    
<a href="/">Index</a>
<a href="/about/">About</a>
<a href="/blog/">Blog</a>


<h1>CONTENIDO</h1>



</main>

<div class="up"><a href="#top">to top</a></div>

<footer>


	Oh nigga gimme one more gram!
</footer> 

	</body>
</html>
