---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "Blog repository";
---
<BaseLayout pageTitle={pageTitle}>


  <h1 style="margin-top: 50px; color:rgb(15, 92, 116)">Reviews</h1>
<div class="container">
<ul>
  {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
</ul>
</div>
</BaseLayout>

