---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>

 <h1 style="margin-top: 50px">Progblog Alpha v0.01</h1>

<div class="container">

<section> 

	<h2><i><strong>Bienvenidos al Progblog</strong></i></h2>
	
	<p style="font-size: 150%">En este blog mi persona (yo [Pasados]) realizará reviews de albumes
		en el género del rock progresivo, subgéneros y a veces lo que se me cante.
	</p>
	

	<p style="font-size: 150%">
		Explicaciones del género?, Análisis substancial basado en estudios 
		musicales?. Ninguna de las anteriores.
	</p>

	<pre style="font-size: 150%">
	Las opiniones mostradas aquí son puramente personales
	Valoro del 0 al 10. Intentaré realizar dos valoraciones; 
	Calidad percibida y el que tanto me ha gustado (favoritismo)</pre>
	<p style="font-size: 150%">
	Esta version inicial presenta albumes que me han gustado para mostrar como primer paso.
	Mis favoritos absolutos vendrán en su debido momento. </p>
</section>
</div>


</main>



</BaseLayout>