---
import Navigation from '../components/Navigation.astro';
import '../styles/global.css';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Menu from '../components/Menu.astro';

const { pageTitle } = Astro.props;

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		

<header id="top">

<div>Forococos</div>

<nav>
	<a href="not_found.html">Esto no es un link</a>
</nav>

</header>


<main>
	
<Menu />
<Header />

<h1>No más Ika 🗿</h1>

<div class="container">

<section> 

	<h2><i><strong>Agarramela que me crece</strong></i></h2>
	
	<p>Aquí yace el momero fuerte que toda su vida dio por sus momos</p>
	<hr>

	<p>
		<a href="https://forocoches.com/foro/">This NOT a link re que hacia el mismo chiste 2 veces</a>
		
	</p>

    

	



	<pre><code>Sin cambios reales desde 2004</code></pre>

</section>


<section class="small">
	<h2>Para la racha</h2>
	<p>Habemus papam</p>
</section>


</div>


</main>

<div class="up"><a href="#top">to top</a></div>

<footer>


	sog a 🥷 diii	
</footer> 
<slot />
 <Footer />

 <script>
    import "../scripts/menu.js";
  </script>
	</body>
</html>
